@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-gray-100 text-black dark:bg-gray-950 dark:text-white transition-colors duration-200;
    padding-top: env(safe-area-inset-top, 20px);
    overscroll-behavior-y: contain;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
